{:paths ["src"]
 :aliases
 {
  :provided
  {:extra-deps
   {
    org.jsoup/jsoup   {:mvn/version "1.15.3"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    ring/ring-core    {:mvn/version "1.9.6"}
    }}


  :test
  {:extra-paths ["test"]
   :extra-deps
   {
    org.apache.maven/maven-model {:mvn/version "3.9.0"}
    org.clojure/tools.cli        {:mvn/version "1.0.214"}


    ;; user.tools.deps.alpha maven jar depends user.java.io artifact which is aot-compiled.
    ;; so avoid maven procurer.
    io.github.ajchemist/user.java.time {:mvn/version "2022.75.23671"}
    }}


  :test-runner
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs     ["src"]
                :excludes [:deprecated]}}


  :build
  {:deps
   {
    io.github.clojure/tools.build      {:git/tag "v0.9.3" :git/sha "e537cd1"}
    io.github.ajchemist/user.java.time {:mvn/version "2022.75.23671"}
    }
   :ns-default build.package}


  :maven-tool
  {:extra-deps {io.github.ajchemist/user.apache.maven.alpha {:git/sha "4f70a7a6ed4ab0620c7a0a3a4caf95d33ef916c6"}}
   :ns-default user.apache.maven.api}


  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "antq.core"]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.3"}
    }}


  :1.11
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.11.1"}
    }}}}
